* {
    font-family: "Montserrat", sans-serif;
    color: white;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(110, 110, 110);
}

div.mainbox {
    background-color: #858585;
    border-color: #a0a0a0;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    min-width: 300px;           /* optional lower limit */
    max-width: 90vw;            /* never exceed 90% of viewport width */
    min-height: 40px;
    padding: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.247);
    box-sizing: border-box;
}


input.line {
    background-color: #414141;
    outline: none;
    border-style: solid;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.inputheader {
    margin: 5px;
}

p.context {
    font-size: 13px;
    color:#e2e2e2
}

button.buttonthing {
    background-color: #7c7c7c;
    outline: none;
    border-style: solid;
    border-radius: 10px;
    border-color: #555555;
    max-width: 400px;
    min-height: 50px;
    font-size: 1.5rem;
    padding: 0 10px;
    transition: background-color 0.25s ease, transform 0.25s ease;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

button.buttonthing:hover {
    background-color: #8f8f8f;
}

button.buttonthing:active {
    transform: scale(0.99);
    background-color: #636363;
}


button.button {
    background-color: #7c7c7c;
    outline: none;
    border-style: solid;
    border-radius: 10px;
    border-color: #555555;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color 0.25s ease, transform 0.25s ease;
}

button.button:hover {
    background-color: #8f8f8f;
}

button.button:active {
    transform: scale(0.99);
    background-color: #636363;
}

table.cross {
    gap: 0;
}

table.cross th {
    outline-width: 1px;
    outline-style: solid;
    outline-color: white;

    font-size: 40px;
    font-weight: normal;
    width: 50px;
    height: 50px;
    padding: 5px;
}

table.cross th.empty {
    outline: none;
    width: 50px;
}

table.cross td {
    outline-width: 3px;
    outline-style: solid;
    outline-color: white;

    font-size: 40px;
    font-weight: normal;
    width: 50px;
    height: 50px;
    padding: 5px;
}